/* Define colors */

$color-cararra: #E6E4DC;
$color-fern-green: #477339;
$color-eucalyptus: #218563;
$color-shamrock: #30BF8F;
$color-sushi: #8DBF47;
$color-desert-storm: #F8F8F6;


/* Assign colors to theme */

$color-primary: $color-eucalyptus !default;
$color-secondary: $color-cararra !default;
$color-light: $color-cararra !default;
$color-dark: $color-fern-green !default;
$color-accent: $color-shamrock !default;
$color-warn: $color-sushi !default;


/* Assign theme colors to component parts */
//
// $color-component-background: $color-light !default;
// $color-component-rev-background: $color-dark !default;
//
// $color-component-text: $color-dark !default;
// $color-component-rev-text: $color-light !default;
